<div class="index">
  <h1>Main route</h1>

  <form action="#" method="post" id="codeForma">
    <label>
      Quiz code: <input type="text" name="code" id="code">
    </label >
    <button type="submit" class="btn btn-primary">Send</button>
  </form>

  <button onclick="sendMessage()">Click</button>
</div>

<script>
  $("#codeForma").submit(function (e) {
    e.preventDefault();

    location.href = "/1";
  });
</script>