<div>
  <h1>Ask questions</h1>

  <label>
    Room: <input type="number" name="room" id="room">
  </label>

  <button class="btn btn-primary joinRoom">Join room!</button>

  <label>
    Question text: <input type="text" name="question" id="question">
  </label>

  <button class="btn btn-primary addQuestion">Ask!</button>

  <h2>List of questions</h2>

  <ul class="listOfQuestions">
    
  </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  let socket;
  let pitanja = [];

  function updateUI(n) {
    $(".listOfQuestions").empty();
    pitanja = n.sort((a,b) => (a.broj_odobrenja > b.broj_odobrenja) ? -1 : ((b.broj_odobrenja > a.broj_odobrenja) ? 1 : 0));
    pitanja.forEach(x => {
      $(".listOfQuestions").append(`<li>${x.pitanje_tekst}, ${x.broj_odobrenja}<button onclick="odobri('${x.id}')">Odobri</button><button onclick="odgovori('${x.id}')">Odgovoreno</button></li>`);
    });
  }

  $(document).ready(function () {
    socket = io('http://localhost:3000', {
      transports: ['websocket']
    });
    
    socket.on('joined_room', (data) => {
      localStorage.setItem('my_room', data.room);
      alert(data.msg);
      pitanja = data.pitanja;
      
      updateUI(pitanja);
    });

    socket.on("greska", (data) => {
      alert(data);
    })
    
    socket.on('msg', (pitanje) => {
      console.log(pitanje);
      pitanja.push(pitanje);
      updateUI(pitanja);
    });

    socket.on('odobrenja', function ({ pitanje }) {
      console.log(pitanje.broj_odobrenja)
      pitanja.find(x => x.id == pitanje.id).broj_odobrenja = pitanje.broj_odobrenja;
      updateUI(pitanja);
       
    });
  });

  function odobri(id) {
    console.log(id)
    socket.emit('odobri', {
      id,
      room: localStorage.getItem('my_room')
    });
  }

  function odgovori(id) {
    console.log(id);
  }

  $(".addQuestion").click(function () {
    let question = $("#question").val();

    socket.emit('msg', {question, room: localStorage.getItem('my_room')});
  });

  $(".joinRoom").click(function () {
    let roomNumber = $("#room").val();

    socket.emit('join_room', {
      room: roomNumber,
    });
  });
</script>